{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>My newBlog</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<div class="container">
		<header>
			<div class="nav-left">
				<h1><a href="/">My blog</a></h1>
			</div>	
			<div class="nav-right">
				<a href="{% url 'post_new' %}">+ New Post</a>
			</div>
		</header>
		{% if user.is_authenticated %}
			<p>Hi {{ user.username }}!</p>
			<p><a href="{% url 'logout' %}">logout</a></p>
		{% else %}
			<p>You are not logged in.</p>
			<a href="{% url 'login' %}">Login</a>
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>