{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Login</button>
	<p><a href="{% url 'signup' %}">Sign Up</a></p>
</form>
{% endblock %}